/*----------------------------------------------------------------------------------------
| Estilos Globais
----------------------------------------------------------------------------------------*/

/*--------------------------------------------
| Slider
--------------------------------------------*/

.container.slider-wrapper 
{
	max-width: 100%;
	margin-bottom: 50px;
}

/*--------------------------------------------
| Mais Vendidos
--------------------------------------------*/

a.blockbestsellers 
{
	padding: 0 !important;
}

/*--------------------------------------------
| Footer
--------------------------------------------*/

#footer .title_block h4
{
	padding-left: 18px;
	text-transform: capitalize;
}