#categories_block_top {
  clear: both;
  position: relative;
  top: 30px; }
  #categories_block_top .sf-menu {
    position: relative; }
    #categories_block_top .sf-menu > li {
      position: static; }
      #categories_block_top .sf-menu > li > ul {
        width: 100%;
        top: 60px;
        margin: 0 20px; }
        #categories_block_top .sf-menu > li > ul > li {
          display: block;
          float: left;
          width: 20%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          padding: 0 10px; }
        #categories_block_top .sf-menu > li > ul > .category_thumb {
          display: block;
          clear: both;
          overflow: hidden;
          width: 100%; }
          #categories_block_top .sf-menu > li > ul > .category_thumb img {
            display: inline-block;
            width: 33%; }
      #categories_block_top .sf-menu > li h4 a {
        font-size: 1.1em; }
        #categories_block_top .sf-menu > li h4 a:before {
          display: none; }
      #categories_block_top .sf-menu > li .main-level-submenus {
        position: relative;
        display: block !important;
        visibility: visible !important;
        top: 0;
        background: none;
        box-shadow: none;
        padding: 0;
        left: 0; }
    #categories_block_top .sf-menu .category_thumb {
      display: none; }

#categories_block_left {margin-bottom:30px;}
#categories_block_left .block_content > ul {
  border-top: 1px solid #d6d4d4; }
#categories_block_left li {
  position: relative; }
  #categories_block_left li a {
    display: block;
    padding: 0 0 0 30px;
    color: #555;
    text-transform: capitalize;
    border-bottom: 1px solid #eee;
    line-height: 38px;
    background: url(  img/li_footer_static.png) 10px no-repeat;
    font-size: 16px; }
  #categories_block_left li span.CLOSE {
    display: block;
    float: right;
    margin: 10px 10px 0;
    height: 15px;
    width: 15px;
    background: url(img/vertical_li.png) no-repeat 0 0;
    cursor: pointer; }
  #categories_block_left li span.OPEN {
    display: block;
    float: right;
    margin: 10px 10px 0;
    height: 15px;
    width: 15px;
    background: url(img/vertical_li.png) no-repeat 0 100%;
    cursor: pointer; }
  #categories_block_left li span.grower:hover + a,
  #categories_block_left li a:hover,
  #categories_block_left li a.selected {
   color: #b15b5b }
  #categories_block_left li li a {
    font-weight: normal;
    color: #777777; }
   #categories_block_left ul ul {padding-left:20px;}
   #categories_block_left .block_content {background: #fff;}